input[type="range"] {
    -webkit-appearance: none !important;
    margin: 0;
    padding: 0;
    background: #487475;
    height: 5px;
    width: 150px;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
}

input[type="range"]::-ms-fill-lower {
    background: #487475;
}

input[type="range"]::-ms-fill-upper {
    background: #487475;
}

input[type="range"]::-moz-range-track {
    border: none;
    background: #487475;
}

/*input[type="range"]::-webkit-slider-thumb,*/
/*input[type="range"]::-moz-range-thumb {*/

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: #487475;
    height: 5px;
    width: 5px;
    box-shadow: -100vw 0 0 100vw whitesmoke;
}

input[type="range"]::-moz-range-thumb {
    background: #487475;
    height: 8px;
    width: 8px;
    border-radius: 100%;
}

input[type="range"]::-ms-thumb {
    -webkit-appearance: none !important;
    background: #487475;
    height: 8px;
    width: 8px;
    border-radius: 100%;
}
