.timer {
    max-width: 1440px;
    margin: 100px auto 0;
    font-family: monospace;
}

.timer input[type="time"]::-webkit-calendar-picker-indicator {
    display: none !important;
}

.timer input {
    cursor: text;
}

.timer input:focus{
    outline: none;
}

.timer input:disabled{
    background-color: white;
    color: black;
}

.timer input::-webkit-datetime-edit-hour-field:focus,
.timer input::-webkit-datetime-edit-minute-field:focus,
.timer input::-webkit-datetime-edit-second-field:focus {
    background-color: white;
    color: black;
    outline: none;
}

.timer-controls {
    text-align: center;
    display: flex;
    justify-content: center;
}

.play-btn {
    display: inline;
    height: 240px;
    width: 240px;
    background-color: yellow;
    text-align: center;
    vertical-align: middle;
    line-height: 240px;
    font-size: 44pt;
    font-weight: bold;
    border-radius: 100%;

}

#play-btn-pic {
    height: 120px;
    width: 120px;
    vertical-align: middle;
    margin-bottom: 10px;
}

.timer-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto 50px;
}

#timer-input {
    border: none !important;
    display: inline;
    font-size: 60px;
}

#timer-input:focus {
    border: none;
}

@media (max-width: 991px) {
    .timer {
        margin: 20px;
    }
    .timer-controls {
        flex-direction: column;
    }

    .play-btn {
        margin: 60px auto 0;
    }

    .timer-container {
        margin-right: 0;
        text-align: center;
    }
}

