#timer {
    max-width: 1440px;
    margin: 0 auto;
}

#timer-controls {
    text-align: center;
    display: flex;
    justify-content: center;
}

#timer-display {
    display: inline;
    height: 334px;
    font-size: 50pt;
    font-family: monospace;
    line-height: 334px;
}

#play-btn {
    display: inline;
    height: 240px;
    width: 240px;
    margin: 47px 47px;
    background-color: yellow;
    text-align: center;
    vertical-align: middle;
    line-height: 240px;

    font-size: 44pt;
    font-weight: bold;

    border-radius: 100%;

}

@media (max-width: 991px) {
    #timer-controls {
        flex-direction: column;
    }

    #timer-display {
        height: 200px;
        line-height: 200px;
    }

    #play-btn {
        margin: 0 auto;
    }
}

