html {
    height: 100%;
    font-family: 'Roboto Mono', sans-serif;
}
body {
    background-color: #8ECACC;
    position: relative;
    display: block;
}

.timer {
    max-width: 1440px;
    margin: 30vh auto;
    color: #ffffff;
}

.timer input[type="time"]::-webkit-calendar-picker-indicator {
    display: none !important;
    background: none;
}

.timer input {
    cursor: text;
    background-color: transparent;
    color: #ffffff;
}

.timer input:focus{
    outline: none;
}

.timer input::-webkit-datetime-edit-hour-field:focus,
.timer input::-webkit-datetime-edit-minute-field:focus,
.timer input::-webkit-datetime-edit-second-field:focus {
    border-radius: 10px;
    background-color: #487475;
    color: #ffffff;
    outline: none;
}

.timer-controls {
    text-align: center;
    display: flex;
    justify-content: center;
    max-width: 50%;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 20px;
}

.volume-box {
    display: flex;
}

#mute-btn-pic {
    color: #487475;
    font-size: 26px;
    cursor: pointer;
}

.play-btn {
    display: inline;
    text-align: center;
    vertical-align: middle;
    line-height: 240px;
    border-radius: 100%;
    cursor: pointer;
}

#play-btn-pic {
    vertical-align: middle;
    font-size: 160px;
    margin-bottom: 20px;
}

.timer-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto 50px;
}

#timer-input {
    border: none !important;
    display: inline;
    font-size: 60px;
    max-width: 270px;
}

#timer-input:focus {
    border: none;
}

input[type=time]::-webkit-datetime-edit-ampm-field {
    display: none;
}

input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 9px;
}

@media (max-width: 991px) {
    .timer {
        margin-top: 20vh;
        display: flex;
        width: 100%;
        flex-direction: column;
        vertical-align: middle;
    }
    .timer-controls {
        flex-direction: column;
    }

    .play-btn {
        margin: 60px auto 0;
    }

    .timer-container {
        margin: 0;
        text-align: center;
    }
}
